<title>Node.js Getting Started on Heroku</title>

<!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />-->


<!-- dependencies -->
<script src="/libs/jquery.js"></script>
<!-- dependencies -->

<!-- css -->
<link rel="stylesheet" type="text/css" href="/stylesheets/test-bench.css">
<link rel="stylesheet" type="text/css" href="/libs/LeonardoPlayer/leonardoPlayer.min.css">
<!-- css -->

<!--javascript Resources for Leonardo Player -->
<script src="/libs/LeonardoPlayer/leonardoPlayer.min.js"></script>
<!-- <script src="libs/LeonardoPlayer/ribbon.scripts.bundle.js"></script> -->
<!--javascript Resources for Leonardo Player -->

<!-- test bench files -->
<script src="/data/inputData.js"></script>
<script src="/src/script/test-bench.js"></script>
<!-- test bench files -->