html,body{
	height:100%;
	margin: 0px;
	padding: 0px;
}

.mainContainer {
	height: 100%;
	width: 100%;
	display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
}

.topBand {
	width: 100%;
	color: #fff;
	height: 44px;
	user-select: none;
	cursor: default;
	background-color: black;
	font-size: 30px;
	padding: 10px 0 0 10px;
}

.mainFrame{
	display: flex;
	height: calc(100% - 54px);
	width: 100%;
	position: relative;	
}

.configuratorPane {
	display: inline-block;
	height: 100%;
	width: 30%;
	border-color: black;
	position: relative;
}

.configuratorPane.hideConfigPane{
	display: none;
}

.configuratorPane .useCaseSelector{
	height: 205px;
	position: relative;
}

.configurationSetter{
	margin-top: 20px;
	height: calc(100% - 255px);
	overflow: auto;
	border-top: solid 1px;
}

.btnContainer{
	height: 50px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: flex;
	width: 100%;
	border-top: solid 1px;
	box-sizing: border-box;
}

.submitButton{
	margin: auto; 
	background-color: #337ab7;
	border:1px solid #2e6da4;
	color:white;
	padding: 5px;
}

.assesmentContainer{
	box-sizing: border-box;
	display: inline-block;
	height: 100%;
	width: calc(70% - 20px);
	position: absolute;
	right: 0px;
}
.assesmentContainer.resizeAssesmentPane {
	width: calc(100% - 20px);;
}

.assesmentContainer .spreadsheetpane{
	box-sizing: border-box;
	height: calc(100% - 50px);
	overflow: auto;
	padding: 50px 0px 0px 50px;
}

.assesmentContainer .spreadsheetpane .expandSpreadsheetPane{
	width: calc(100% - 20px);    
}

.splitter{
	background: #d5d5d5;
	color: white;
	width:20px;
	display: inline-block;
	height: 100% ;
	position: relative;
}

.splitterSymbol{
	border: transparent;
	background: transparent;
	font-weight: bold;
	width: 100%;
	border: 1px dashed transparent;
	padding: 1px;
	color: white;
}

.splitterSymbol:hover {
	border: 1px dashed #bbbbbb;
	color: white;
}

.leonardoContainer {
	height: 400px;
}

.buttonPanel {
	justify-content: center;
	height: 50px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.hideBtns{
	display: none;
}

.header {
	font-weight: bolder;
	font-size: 16px;
	text-align: center;
	border-color: #ddd;
	background-color: #f5f5f5;
	padding: 10px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-bottom:10px;
}

.spanClass {
	font-weight: bold;
	font-size: 14px;
	text-align: right;
	position: relative;
	padding-right: 15px;
	padding-left: 10px;
	width: 30%;
    	display: inline-block; 
}

.row {
	margin-bottom: 10px;
	margin-top: 10px;

}

.inputClass {
	margin-right: 20px;
}

.divButtonClass {
	display:flex;
	align-items: center;
	justify-content: center
	/*// position: relative;*/
}

.buttonClass {
	background-color: #337ab7;
	border: 1px solid #2e6da4;
	color:white;
	margin: auto; 
	padding: 5px;
}

.textArea{
	margin-left: 70px
}

